.main_wrapper {
    display: flex;
    justify-content: space-evenly;
    height: calc(100vh - 48px);
    ;
}

.left_panel_wrapper {
    display: flex;
    flex-direction: column;
    width: 15.8333333%;
    justify-content: space-around;
    min-height: 589px;
    min-width: 300px;
}

.tools_panel {
    flex-grow: 1;
    margin-top: 10px;
    max-height: 215px;

    // .tools_panel--list

    &--list {}

    // .tools_panel--item

    &--item {
        padding: 5%;
    }

    // .tools_panel--link

    &--link {
        text-decoration: none;
    }

    // .tools_panel--icon

    &--icon {
        margin-right: 6%;
        width: 24px;
        height: 24px !important;
    }

}

.color_panel {
    flex-grow: 1;

    max-height: 215px;

    // .color_panel--list

    &--list {}

    // .color_panel--item

    &--item {
        padding: 5%;
    }

    &--item:nth-child(1) span {
        border: 1px solid black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #C4C4C4;
    }

    &--item:nth-child(2) span {
        border: 1px solid black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #41F795;
    }

    &--item:nth-child(3) span {
        border: 1px solid black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #F74141;
    }

    &--item:nth-child(4) span {
        border: 1px solid black;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #41B6F7;
    }

    // .color_panel--link

    &--link {
        text-decoration: none;
    }

    &--link_circle {
        margin-right: 6%;
    }
}

.canvas_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 665px;
}

.canvas {
    background: gray;
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.range_slider {
    margin-top: 20px;
    width: 100%;
}

.range_slider_output {

    display: block;
    position: relative;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00BCD4;
    color: white;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.4rem;
    }
}

.load_panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;

    .load_image {
        display: flex;

        .search_button {
            margin-right: 5px;
        }

        .search_input {
            font-size: 1.2rem;
            width: 50%;
        }
    }

    a {
        background-color: #00BCD4;
        width: 90px;
        color: white;
        border-radius: 5%;
        text-decoration: none;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}