{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry"
      /* "modules": false, */
/*       "targets": {
        "node": "current"
      } */
    }]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    "babel-plugin-transform-class-properties"
  ]
}